
*.mtx
/lib/random_circuit_generator/utils/__pycache__
/lib/random_circuit_generator/__pycache__
/.idea
*.csv
*.csv
*.csv
*.o
/lib/klu_new/__pycache__
*.log
/lib/nicslu/src/__pycache__
/lib/nicslu/__pycache__
/lib/superlu/__pycache__
/lib/pardiso/__pycache__
/lib/glu/src/__pycache__
